<header>
  <nav class="navbar bg-body-tertiary p-3">
    <div class="container">
      <a routerLink="/" class="navbar-brand fs-4">Daily News</a>
      <div class="d-flex gap-3">
        <app-theme-toggle />
        <button
          class="btn btn-primary"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasRight"
          aria-controls="offcanvasRight"
        >
          Menu
        </button>
      </div>
      <div
        class="offcanvas offcanvas-end"
        tabindex="-1"
        id="offcanvasRight"
        aria-labelledby="offcanvasRightLabel"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasRightLabel">
            Notícias por Categorias
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <a routerLink="noticias/tecnologia" class="btn">Tecnologia</a>
          <hr />
          <a routerLink="noticias/ciencia" class="btn">Ciência</a>
          <hr />
          <a routerLink="noticias/politica" class="btn">Política</a>
          <hr />
          <a routerLink="noticias/esportes" class="btn">Esportes</a>
        </div>
      </div>
    </div>
  </nav>
</header>
