<section class="px-5 mt-5">
  @if (mainNews()) {
  <div id="carouselCaptions" class="carousel slide">
    <div class="carousel-indicators">
      @for (mainNew of mainNews(); track mainNew.id) {
      <button
        type="button"
        data-bs-target="#carouselCaptions"
        [attr.data-bs-slide-to]="mainNews()?.indexOf(mainNew)"
        [class.active]="mainNews()?.indexOf(mainNew) === 0"
        [attr.aria-current]="mainNews()?.indexOf(mainNew) === 0 ? 'true' : null"
        [attr.aria-label]="mainNews()!.indexOf(mainNew) + 1"
      ></button>
      }
    </div>
    <div class="carousel-inner">
      @for (mainNew of mainNews(); track mainNew.id;) {
      <div
        class="carousel-item"
        [ngClass]="{ active: mainNews()?.indexOf(mainNew) === 0 }"
      >
        <img [src]="mainNew.image" class="d-block w-100" [alt]="mainNew.alt" />
        <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50">
          <h2 class="text-white">{{ mainNew.title }}</h2>
          <h6 class="text-white m-0">
            {{ mainNew.content }}
          </h6>
          <p class="text-white">
            <small>Por {{ mainNew.author }} </small>
          </p>
          <button class="btn btn-danger mb-2">Saiba Mais</button>
        </div>
      </div>
      }
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselCaptions"
      data-bs-slide="prev"
    >
      <span
        class="carousel-control-prev-icon bg-dark bg-opacity-75 py-5"
        aria-hidden="true"
      ></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselCaptions"
      data-bs-slide="next"
    >
      <span
        class="carousel-control-next-icon bg-dark bg-opacity-75 py-5"
        aria-hidden="true"
      ></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  }
</section>
<app-recent-news />
