<section class="container">
  @if (!hasError()) { @if (!isLoading()) {
  <h2 class="text-center pt-5 pb-4 m-0 p-0">Notícias sobre {{ category() }}</h2>
  <div class="row">
    @for (variedNew of variedNews(); track variedNew.id) {
    <div class="col-xl-6 col-lg-12 mb-5">
      <div class="card">
        <div class="card-header">
          <h4 class="text-center my-2">{{ variedNew.title }}</h4>
        </div>
        <div class="row g-0">
          <div class="col-xl-6 col-lg-3">
            <img
              [src]="variedNew.image"
              class="img-fluid rounded-bottom"
              [alt]="variedNew.alt"
            />
          </div>
          <div class="col-xl-6 col-lg-9">
            <div class="card-body">
              <h5 class="card-text">{{ variedNew.subtitle }}</h5>
              <div
                class="card-text"
                [innerHTML]="variedNew.fullContent | paragraph"
              ></div>
              <p class="card-text">
                <small class="text-body-secondary"
                  >{{ variedNew.date | date : "dd/MM/yyyy" }} -
                  {{ variedNew.author }}
                </small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
  } @else {
  <div class="text-center pt-5 pb-4">
    <h2 class="placeholder-glow">
      <span class="placeholder col-6"></span>
    </h2>
  </div>
  <div class="row">
    @for (item of [1, 2, 3, 4]; track item) {
    <div class="col-lg-12 col-xl-6 mb-5">
      <div class="card mb-3">
        <div class="card-header">
          <h4 class="card-title placeholder-glow"></h4>
        </div>
        <div class="row g-0">
          <div class="col-xl-4 col-lg-3">
            <div class="placeholder-glow">
              <span
                class="placeholder col-12"
                style="height: 200px; display: block"
              ></span>
            </div>
          </div>
          <div class="col-xl-8 col-lg-9">
            <div class="card-body">
              <h5 class="card-title placeholder-glow">
                <span class="placeholder col-11"></span>
              </h5>
              <p class="card-text placeholder-glow">
                <span class="placeholder col-11"></span>
                <span class="placeholder col-10"></span>
                <span class="placeholder col-10"></span>
              </p>
              <p class="card-text placeholder-glow">
                <small class="placeholder col-4"></small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
  } } @else {
  <h2 class="text-center pt-5 pb-3">
    Não foi possíver carregar as notícias variadas, por favor, tente novamente
    mais tarde.
  </h2>
  }
</section>
