<section class="mt-4 mb-2">
  @if (mainNews()) {
  <h1 class="text-center" data-test="carousel-title">Notícias Principais</h1>
  <carousel
    [slideMaxWidth]="2000"
    [infinite]="true"
    [responsive]="true"
    [autoslideLimitPercentCard]="40"
    [slideToScroll]="1"
    [slideToShow]="1"
    [counter]="false"
    [responsive]="true"
    [enableTouch]="false"
    [enableMouseDrag]="false"
  >
    @for (mainNew of mainNews(); track mainNew.id) {
    <div class="carousel-slide" data-test="carousel-slide">
      <div class="position-relative">
        <img
          [src]="mainNew.image[0]"
          class="d-block w-100"
          [alt]="mainNew.alt[0]"
          data-test="carousel-image"
        />
        <div
          class="position-absolute bottom-0 start-50 translate-middle-x text-center carousel-container"
        >
          <div class="bg-dark bg-opacity-50">
            <h2
              class="text-white carousel-title-text"
              data-test="carousel-slide-title"
            >
              {{ mainNew.title }}
            </h2>
            <h6
              class="d-none d-md-block text-white m-0"
              data-test="carousel-slide-content"
            >
              {{ mainNew.content }}
            </h6>
            <p
              class="text-white d-none d-md-block"
              data-test="carousel-slide-author"
            >
              <small>Por {{ mainNew.author }} </small>
            </p>
            <button
              routerLink="/noticia-principal/{{ mainNew.id }}"
              class="btn btn-danger mb-2 carousel-button"
              data-test="carousel-slide-button"
            >
              Saiba Mais
            </button>
          </div>
        </div>
      </div>
    </div>
    }
  </carousel>
  }
</section>
<app-recent-news />
