<section class="container">
  @if (recentNews()) {
  <h1 class="text-center py-5">Notícias Recentes</h1>
  @for (recentNew of recentNews(); track recentNew.id) {
  <div class="card mb-3" style="max-width: 700px">
    <div class="card-header">
      <h4 class="text-center my-2">{{ recentNew.title }}</h4>
    </div>
    <div class="row g-0">
      <div class="col-md-4">
        <img
          [src]="recentNew.image"
          class="img-fluid rounded-start"
          [alt]="recentNew.alt"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ recentNew.subtitle }}</h5>
          <p class="card-text">
            {{ recentNew.content }}
          </p>
          <p class="card-text">
            <small class="text-body-secondary"
              >{{ recentNew.author }} - Há
              {{ recentNew.publishedAt }} atrás</small
            >
          </p>
          <button class="btn btn-danger">Saiba Mais</button>
        </div>
      </div>
    </div>
  </div>
  <hr />
  } }
</section>
